@model List<GestaoEventosAcademicos.Models.Certificado>

@{
    ViewData["Title"] = "Meus Certificados";
}

<h1 class="mb-4">Meus Certificados</h1>

@if (Model.Any())
{
    <div class="row">
        @foreach (var certificado in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg rounded-lg border-0">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">@certificado.Evento.Nome</h5>
                        <p class="card-text">
                            <strong>Participante:</strong> @certificado.Participante.Nome <br />
                            <strong>Curso:</strong> @certificado.Participante.Curso.Nome <br />
                            <strong>Data de Emissão:</strong> @certificado.DataEmissao.ToString("dd/MM/yyyy")
                        </p>

                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("VisualizarCertificado", "Participante", new { id = certificado.CertificadoID })" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-eye"></i> Visualizar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Você não tem certificados disponíveis.</p>
}
