@model IEnumerable<GestaoEventosAcademicos.Models.Participante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sucesso!</strong> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.EventoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParticipanteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParticipanteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParticipanteID">Delete</a>
            </td>
        </tr>
}
    </tbody>    
</table>
