@model GestaoEventosAcademicos.Models.Certificado

@{
    ViewData["Title"] = "Certificado de Aprovação";
}

<div class="container">
    <div class="card shadow-lg p-5 border-0">
        <div class="text-center">
            <h2 class="mt-3 text-uppercase fw-bold">Certificado de Aprovação</h2>
        </div>

        <hr class="my-4">

        <div class="text-center">
            <h4 class="fw-bold">Certificado de Participação</h4>
            <p class="mt-2"><strong>Este certificado atesta que</strong></p>

            <h3 class="fw-bold text-primary">@Model.Participante.Nome</h3>

            <p class="mt-2"><strong>concluiu com sucesso o evento</strong></p>

            <h4 class="fw-bold text-success">@Model.Evento.Nome</h4>

            <p class="mt-3">
                <strong>Data de Emissão do Certificado:</strong> @Model.DataEmissao.ToString("dd/MM/yyyy")
            </p>
        </div>

        <hr class="my-4">

        <div class="row text-center">
            <div class="col-md-6">
                <p><strong>Curso:</strong> @Model.Participante.Curso.Nome</p>
            </div>
            <div class="col-md-6">
                <p><strong>Participante:</strong> @Model.Participante.Nome</p>
            </div>
        </div>

        <div class="text-center mt-4">
            <p class="fw-bold text-muted"><i class="bi bi-award-fill"></i> Parabéns pela sua participação e sucesso!</p>
        </div>

        <hr class="my-4">

        <!-- Assinatura Eletrônica -->
        <div class="text-center mt-4">
            <p><strong>@Model.Evento.Administrador.Nome</strong></p>
            <p class="text-muted">Administrador do Curso</p>
        </div>

        <hr class="my-4">

        <div class="text-center mt-4">
            <a href="@Url.Action("Certificados", "Participante")" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
            <a href="@Url.Action("ExportarParaPdf", "Participante", new { id = Model.CertificadoID })" class="btn btn-success"><i class="bi bi-file-earmark-pdf-fill"></i> Baixar PDF</a>
        </div>
    </div>
</div>
